@import url(../css-global/vars.css);

@media screen {
  .site-header {
    margin-bottom: 10px;
  }

  /* container for site name */
  .site-title {
    font-weight: bold;
    color: var(--blue);
    font-size: 1.7em;
    margin-bottom: 5px;
  }

  /* container for navigation links */
  #navbar > div:last-child {
    display: flex;
    gap: 5px;
    margin: 10px 0;
  }

  /* navigation links */
  #navbar > div:last-child a {
    font-size: 0.9em;
    color: var(--offwhite);
    height: fit-content;
  }

  #navbar > div:last-child a.active {
    color: var(--blue);
  }
}
