@import url(../css-global/vars.css);

@media screen {
  .site-header {
    margin-bottom: 10px;
  }

  /* container for site name */
  .site-title {
    font-weight: bold;
    color: var(--blue);
    font-size: 1.7em;
    margin-bottom: 5px;
  }

  /* container for navigation links */
  .navbar-links {
    display: flex;
    gap: 5px;
    margin: 10px 0;
  }

  /* navigation links */
  .navbar-links a {
    font-size: 0.9em;
    color: var(--offwhite);
    height: fit-content;
  }

  .navbar-links a.active {
    color: var(--blue);
  }
}

@media screen and (min-width: 600px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px;
  }

  .navbar-links {
    gap: 8px;
  }
}
