@import url(vars.css);

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px;
}

p {
  margin-bottom: 0.8em;
}

p:last-of-type {
  margin-bottom: 0;
}

a:hover {
  color: var(--water);
  cursor: pointer;
}
