:root {
  --rock: rgb(190, 208, 217);
  --river: rgb(183, 228, 247);
  --water: rgb(2, 172, 238);
  --max-width: 600px;
  --black: rgb(20, 20, 20);
  --white: rgb(255, 255, 250);
  --blue: rgb(128, 227, 255);
  --offwhite: rgb(110, 109, 109);
}
